{% extends 'base.html' %}
{% block title %}
	Морфология грибов
{% endblock %}
{% block content %}
	<p>Выделяют две фазы онтогенетического развития грибов: вегетативную и репродуктивную.
    Непосредственно после прорастания вегетативное тело гриба (таллом) состоит из нерасчлененного
    протопласта или сходных друг с другом, окруженных клеточной стенкой единиц (гиф), которые
    питаются и размножаются автономно. Репродуктивная фаза характеризуется функциональной
    дифференцировкой и размножением гриба с появлением большинства таксономически значимых признаков.
	</p>
{% endblock %}
